body{
    display: grid;
    place-content: center;
}


ul {
    list-style: none;
    text-align: center;
    margin: 0 ;
    padding: 0;
}
li a {
    background-color: black;
    color: white;
    text-decoration: none;
    display: block;
    padding-block: 0.5rem;
}